@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --gray-primary-text-icons: #1E1E1E;
  --gray-primary-bg: #F3F2F2;
  --white-primary-text:#FFFFFF;
  --orange-primary:#EC8C56;
  --blue-primary:#0066FF;
  --orange-bg:#FFF4EE;
  --blue-secondary:#031D44;
  --gray-secondary:#D9D9D9;
  --red-primary-accents:#D12828;
  --gray-rarely-used:#8F8E8E;
}


/* ---- NAVBAR ---- */  
nav {
  height: 70px;
  width: 100%;
  top: 0px;
  border-radius: 0px;
  background-color: var(--white-primary-text);
  position: fixed;
  display: flex;
  box-shadow: 0px 1px 20px rgb(0 0 0 / 0.1);
  justify-content: space-around;
  align-items: center;
  z-index: 4;
}
nav .nav-wrapper {
  display: flex;
  justify-content: end;
}
nav .active-page {
  display: none;
}
nav ul {
  display: flex;
  padding: 10px 130px;
  margin-top: revert;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  padding: 10px 20px 24px;
  color: var(--gray-secondary);
  cursor: pointer;
}
nav ul li a .button {
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  padding: 11px 30px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 25px;
} 
nav ul li form .button {
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 25px;
} 
nav ul li a.active{
  color: var(--blue-primary);
  border-bottom: 6px solid var(--blue-primary);
}
nav ul li a:hover{
  color: var(--blue-primary);
}
nav .menu-toggle{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
nav .menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
nav .menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 8px;
  background-color: var(--blue-primary);
  transition: all 0.5s;
}
nav .menu-toggle span:nth-child(2){
  transform-origin: 0 0 ;
}
nav .menu-toggle span:last-child{
  transform-origin: 0 0 ;
}
nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px, -1px);
}
nav .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
nav .menu-toggle input:checked ~ span:last-child {
  transform: rotate(-45deg) translate(-3px, 0px);
}

/* ---- HERO ---- */
.carousel{
  background-color: #D12828;
  margin-top: 70px;
  width: 100vw;
}
.carousel .carousel-control i{
  font-size: 35px;
}
.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  margin-right: 14px !important;
  margin-left: 14px !important;
  
}
#hero {
  display: flex;
  background: url(../images/hero-bg.png);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  width: 100vw;
  height: 1310px;
}
.hero-logo{
  padding: 160px 0;
}
.hero-content {
  display: grid;
  max-width: 520px;
  padding: 0 51px;
  margin-bottom: 40px;
  margin-top: -40px;
}
.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-primary-text-icons);
}
.hero-content p{
  color: var(--gray-primary-text-icons);
  padding: 10px 0 10px;
  font-weight: 400; 
  font-size: 16px;
  line-height: 20px;
}
.hero-content button{
  padding: 10px 27px;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
}
.hero-map img{
  width: 420px;
  border-radius: 14px;
}
.hero-content-map {
  display: grid;
  max-width: 520px;
  padding: 0 51px;
}
.hero-content-map h1{
  padding: 30px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-primary-text-icons);
}
.hero-content-map button{
  padding: 10px 27px;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
}

/* ---- Overview ----*/
#overview-mobile{
  display: none;
}
#overview {
  margin-top: -20px;
  max-width: 625px;
  display: grid;
  margin: auto;
  padding-bottom: 70px;
}
#overview h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  margin-top: -240px;
  color: var(--gray-primary-text-icons);
  padding-bottom: 30px;
}
.overwiew-wrapper{
  border: var(--blue-primary) 3px solid;
  border-radius: 8px;
  padding: 15px 10px;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
}
.overwiew-wrapper .col{
  justify-content: center;
  padding: 0 41px;
}
.overwiew-wrapper .bordered{
  position: relative;
}
.overwiew-wrapper .bordered::after{
  content: '';
  height: 45px;
  width: 3px;
  position: absolute;
  right: 0;
  top: 21px;
  background-color: var(--blue-primary);
}
.overwiew-wrapper span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

/* ---- web statics ----*/
#statistics-mobile{
  display: none;
}
#statistics {
  max-width: 625px;
  margin: auto;
  padding-bottom: 70px;
}
#statistics h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-primary-text-icons);
  padding-bottom: 30px;
}
.statistics-wrapper{
  border: var(--blue-primary) 3px solid;
  width: 240px;
  border-radius: 8px;
  padding: 15px 10px;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
}
.statistics-wrapper span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

/* ---- ABOUT-HOMEPAGE ----*/
#about-homepage-mobile{
  display: none;
}
#about-homepage{
  margin: auto;
  border-radius: 40px;
  background-image: url('/src/images/about-bg.png');
  background-color: var(--blue-secondary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 650px;
  max-height: max-content;
  color: var(--white-primary-text);
  padding: 25px 35px;
}
.about-content .row{
  margin-bottom: 20px;
}
.about-content h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  color: var(--white-primary-text);
  padding-bottom: 25px;
}
.about-content h1 span{
  display: block;
}
.about-content .col-7{
  padding-top: 15px;
}
.about-content p{
  max-width: 340px;
  color: var(--gray-rarely-used);
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 10px;
  word-spacing: 0.1em;
}
.about-content p span{
  color: var(--white-primary-text);
  font-weight: 500;
}
.about-content .profile {
  margin: 10px auto;
  padding: 15px;
  max-width: 240px;
  max-height: 350px;
  border-radius: 13px;
  background-color: var(--white-primary-text);
}
.about-content .profile img{
  width: 200px;
}
.about-content .profile .text-card {
  padding-top: 12px;
}
.about-content .profile h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: var(--gray-primary-text-icons);
}
.about-content .profile p {
  color: var(--gray-rarely-used);
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
#about-homepage .about-content a{
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 27px;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  height: 45px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

/* Berita Terkini */
#berita{
  margin-top: 100px;
}
#berita .container-card{
  margin-left: 100px;
}
#berita .container-card .title{
  max-width: 80vw;
}
#berita .container-card .title-mobile{
  display: none;
}
#berita .container-card .title ul{
  margin-left: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#berita .container-card .title ul li{
  list-style: none;
}
#berita .card-wrapper{
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  overflow-x: auto;
  padding: 0 0 30px;
  overscroll-behavior-inline: contain;
}
#berita .snaps-inline{
  scroll-snap-type: inline mandatory;
}
#berita .snaps-inline > *{
  scroll-snap-align: start;
}
#berita .card-wrapper::-webkit-scrollbar{
  width: 5px;
  height: 10px;
}
#berita .card-wrapper::-webkit-scrollbar-track{
  background-color: var(--gray-primary-bg);
  border-radius: 10px;
  margin-block: 10px;
}
#berita .card-wrapper::-webkit-scrollbar-thumb{
  background-color: var(--gray-rarely-used);
  border-radius: 10px;
}
#berita h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--gray-primary-text-icons);
}
#berita .container-card .title a{
  background-color: none;
  color: var(--blue-primary);
  border: var(--blue-primary) solid;
  border-radius: 8px;
  padding: 8px 45px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
#berita .card{
  width: 300px;
  border-radius: 24px;
  padding: 15px 0 5px;
}

#berita .card img{
  margin: auto;
  border-radius: 24px;
  width: 260px;
  height: 160px;
  object-fit: cover;
}

#berita .card-wrapper .card-body h5{
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--gray-primary-text-icons);
}
#berita .card-wrapper .card-body .min-content{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height:65px;
  margin-bottom: 15px;
}
#berita .card-wrapper .card-body p{
  font-size: 15px;
  margin-top: -5px;
  font-weight: 400;
  color: var(--gray-primary-text-icons);
}
#berita .card-wrapper .card-body p span{
  color: var(--gray-secondary);
}

#berita .card-body .button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 42px;
  font-weight: 700;
  font-size: 16px;
}

/* --- CARD --- */
#card{
  /* background-color: #D12828; */
  margin: 70px 0 128px; 
  /* padding-bottom: 30px; */
}
#card .container-card {
  max-width: 700px;
  padding: 0 20px;
  margin: auto;
}
.container-card .col{
  display: flex;
  justify-content: space-around;
}
#card h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-primary-text-icons);
  margin-bottom: 40px;
}
#card h1 span {
  display: block;
}
#card .card{
  width: 300px;
  /* height: 450px; */
  border-radius: 24px;
  padding: 15px 0 5px;
}

#card .card img{
  margin: auto;
  border-radius: 24px;
  width: 260px;
  background-size: cover;
  height: 160px;
}

#card h5{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--gray-primary-text-icons);
}
#card .card-body {
  padding: 25px;
}
#card .card-body p{
  font-size: 15px;
  padding-top: 4px;
  font-weight: 400;
  color: var(--gray-secondary);
}

#card .card-body .button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 42px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
}

/* --- MOBILE-APPS --- */
#mobile-apps{
  display: flex;
  background: url(../images/online-world.svg);
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170vh;
  /* padding-bottom: 70px; */
}

#mobile-apps .card{
  top: 500px;
  background-color: var(--blue-secondary);
  color: var(--white-primary-text);
  background-image: url('../images/download-here-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  border-radius: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 52px;
  height: 330px;
}

#mobile-apps .card-information{
  display: flex;
}

#mobile-apps .card-body{
  max-width: 759px; 
  float: left;
  /* margin-top: -251px; */
}  

/* #mobile-apps .card-body h1{
  float: left;
} */

#mobile-apps h1{
  font-size: 40px;
  font-weight: 650;
  line-height: 46px;
} 

#mobile-apps p{
  margin-top: 20px;
  max-width: 257px;
  color: var(--gray-rarely-used);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 10px;
} 
#mobile-apps .card-image .card-phone img{
  margin-top: -190px;
  width: 225px;
}
#mobile-apps .card-image .card-badge a {
  text-decoration: none;
}
#mobile-apps .card-image .card-badge button {
  border-radius: 8px;
}
#mobile-apps .card-image .card-badge .google-play {
  background-image: url(../images/google-play-badge\ 1.png);
}
#mobile-apps .card-image .card-badge .btn-download {
  width: 152px;
  height: 49px;
  background-size: cover;
  background-position: center;
}

/* --- FOOTER --- */
#footer{
  font-size: 20px;
  background-color: var(--blue-secondary);
  color: var(--gray-rarely-used);
}
#footer .footer-container {
  padding: 60px 100px;
}
#footer .footer-title img{
  width: 40px;
}
#footer .footer-title h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  color: var(--white-primary-text);
} 
#footer.intro-web{
  margin-top: -10px;
} 
#footer p{
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-rarely-used);
  padding-right: 116px;
} 
#footer .title{
  font-size:16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white-primary-text);
}
#footer .copyright{
  font-size:16px;
  padding-right: 140px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white-primary-text);
}
#footer p span{
  display: block;
}

@media screen and (max-width:1030px){
  nav ul li a {
    font-size: 14px;
    padding: 10px 20px 24px;
  }
  #hero{
    background-size: contain;
  }
}

@media screen and (max-width:1000px) {
  nav ul {
    display: flex;
    padding: 10px 50px;
    margin-top: revert;
    list-style: none;
  }
  nav ul li a.button {
    background-color: var(--blue-primary);
    color: var(--white-primary-text);
    border: none;
    border-radius: 8px;
    padding: 11px 30px;
    font-weight: 700;
    font-size: 14px;
    margin-left: 25px;
  }
  nav ul li form .button {
    font-size: 14px;
  }
  nav ul li a.active{
    border-bottom: 4px solid var(--blue-primary);
  }
  #berita .card{
    width: 260px;
    border-radius: 24px;
    padding: 15px 0 5px;
  }
  #berita .card img{
    margin: auto;
    border-radius: 24px;
    width: 229px;
    height: 139px;
    object-fit: cover;
  }
  #berita .card-wrapper .card-body h5{
    font-size: 16px;
  }
  #berita .card-wrapper .card-body p{
    font-size: 14px;
    margin: -5px 0 7px;
  }
  #mobile-apps {
    width: 100vw;
    height: 600px;
  }
  #mobile-apps .card{
    top: 200px;
    width: 650px;
  }
}

@media screen and (max-width:820px){
  nav ul li a {
    padding: 10px 15px 24px;
  }
}
@media screen and (max-width:800px) {
  #hero {
    background-size: auto;
  }
  nav {
    justify-content: space-between;
    padding: 0 40px;
  }
  nav .active-page {
    display: flex;
    margin: auto;
  }
  nav .active-page a {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    color: var(--blue-primary);
    cursor: pointer;
  }
  nav .active-page a.active{
    padding: 17px;
    border-bottom: 4px solid var(--blue-primary);
  }
  nav ul{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    flex-direction: column;
    background-color: var(--white-primary-text);
    justify-content: space-evenly;
    align-items: center;
    z-index: -100;
    transform: translateX(100%);
    transition: all 0.8s;
    opacity: 0;
  }
  nav ul li a{
    padding: 10px 0 8px;
    margin: auto;
    display: flex;
    width: 150px;
    font-size: 13px;
  }
  nav ul li a.active {
    border-bottom: 4px solid var(--blue-primary);
  }
  nav ul li form .button {
    margin-left: 0;
    display: block;
    padding: 8px 35px;
  }
  nav .menu-toggle {
    display: flex;
  }
  nav ul.slide{
    padding-top: 30px;
    opacity: 1;
    transform: translateX(0);
  }
  .hero-content h1{
    font-size: 45px;
  }
  .hero-content-map h1{
    font-size: 45px;
  }
  #overview {
    max-width: 530px;
  }
  #overview h1{
    font-size: 45px; 
  }
  .overwiew-wrapper {
    font-size: 11px;
  }
  .overwiew-wrapper span{
    font-size: 35px;
    line-height: 45px;
  }
  #about-homepage {
    max-width: 555px;
  }
  .about-content .profile img{
    width: 160px;
  }
  .about-content .profile h5 {
    font-size: 13px;
  }
  .about-content .profile p {
    font-size: 13px;
  }
  .about-content .profile .text-card span{
    display: contents;
  }
  #card h1{
    font-size: 45px;
  }
}

@media screen and (max-width:768px){
  .hero-content {
    margin-bottom: 105px;
  }
  #berita .container-card .title a{
    padding: 8px 30px;
    font-size: 14px;
  }
  
  #footer p span{
    display: inline;
  }
  #footer .footer-container {
    padding: 60px 100px;
  }
  #footer p{
    font-size: 14px;
    padding-right: 0px;
  } 
  #footer .title{
    font-size:14px;
  }
  #footer .copyright{
    font-size:14px;
    padding-right: 0px;
  }
  #mobile-apps .card{
    width: 100%;
    border-radius: 20px;
    padding: 24px;
  }

  #mobile-apps p{
    /* font-size: 20px; */
    color: var(--gray-secondary);
  } 

  #mobile-apps .card-image .card-phone img{
    margin-top: -70%;
    /* width: 340px; */
  }
  
  #mobile-apps .card-image .card-badge img{
    padding: 0;
    /* width: 200px; */
  }
}
@media screen and (max-width:680px) {
  #about-homepage {
    display: none;
  }
  #about-homepage-mobile {
    display: block;
    margin: auto;
    border-radius: 40px;
    background-image: url('/src/images/about-bg-mobile.png');
    background-color: var(--blue-secondary);
    max-width: 80%;
    max-height: max-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white-primary-text);
    padding: 25px 35px;
  }
  #about-homepage-mobile .wrapper-content {
    max-width: 75%;
    margin: auto;
  }
  #about-homepage-mobile .about-content a{
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 27px;
    background-color: var(--blue-primary);
    color: var(--white-primary-text);
    border: none;
    border-radius: 8px;
    /* height: 45px; */
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
  }
  #about-homepage-mobile .about-content h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 58px;
  }
  #about-homepage-mobile.about-content .wrapper-content {
    padding-top: 15px;
  }
  #about-homepage-mobile .about-content .wrapper-content p {
    margin: auto;
    text-align: center;
    max-width: 310px;
    font-size: 13px;
    line-height: 17px;
    padding-top: 10px;
  }
  #about-homepage-mobile .about-content .profile{
    max-width: 75%;
    max-height: 450px;
  }
  #about-homepage-mobile .about-content .profile img {
    width: 100%;
  }
  #about-homepage-mobile .about-content .profile h5{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--gray-primary-text-icons);
  }
  #about-homepage-mobile .about-content .profile p {
    color: var(--gray-rarely-used);
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    max-width: 330px;
  }
  #berita .title{
    display: none;
  }
  #berita .container-card .title-mobile{
    display: block;
  }
  #berita .container-card .title-mobile ul{
    margin-left: -30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
  #berita .container-card .title-mobile ul li{
    list-style: none;
  }
  #berita .container-card .title-mobile h1 span{
    display: block;
  }
  #berita .container-card .title-mobile .lihat{
    margin-right: 25px;
    padding-bottom: 12px;
  }
  #berita .container-card .title-mobile .lihat a{
    text-decoration: none;
    padding-right: 10px;
  }

}
@media screen and (max-width:600px){
  #hero {
    max-height: 1100px;
    margin-top: 25px;
    margin-bottom: 100px;
  }
  .hero-map img{
    width: 355px;
  }
  .hero-content h1{
    font-size: 40px;
  }
  .hero-content-map h1{
    font-size: 40px;
  }
  #overview {
    max-width: 490px;
  }
  #overview h1{
    font-size: 40px; 
  }
  #overview .bordered{
    font-size: 10px;
  }
  #about-homepage {
    max-width: 500px;
  }
  .about-content h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .about-content p {
    max-width: 285px;
    font-size: 12px;
    line-height: 14px;
  }
  .about-content .profile img{
    width: 160px;
  }
  .about-content .profile .text-card span{
    display: contents;
  }
  .about-content .profile .text-card{
    padding-top: 25px;
  }
  #mobile-apps .card{
    height: 100%;
  }
}

@media screen and (max-width:550px){
  #mobile-apps .card-information{
    display: flex;
    flex-direction: column-reverse;
  }

  #mobile-apps .card-image img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: none;
  }

  #mobile-apps .card{
    top: 250px;
    width: 100%;
    border-radius: 30px;
    padding: 24px;
    height: 100%
  }

  #mobile-apps .card-body{
    text-align: center;
    margin-top: auto;
  }  

  #mobile-apps .card-body{
    text-align: center;
    margin: auto;
    width: 100%;;
  }  

  #mobile-apps .card-body h1{
    font-size: 30px;
  }

  #mobile-apps .card-body p{
    margin: auto;
    font-size: 16px;
    color: var(--gray-secondary);
  } 
  #footer .footer-container {
    padding: 60px;
  } 

}
@media screen and (max-width:480px){
  #hero {
    margin-bottom: 450px;
  }
  .hero-content {
    margin-bottom: 110px;
  }
}
@media screen and (max-width:410px){
  #overview-mobile .overwiew-wrapper span{
    font-size: 30px;
  }
  #overview-mobile .overwiew-wrapper{
    font-size: 10px;
  }
}
@media screen and (max-width:400px){
  .hero-content h1 {
    font-size: 37px;
    line-height: 42px;
  }
  .hero-map img{
    width: 300px;
  }
  #overview-mobile .overwiew-wrapper .col {
    padding: 5px 24px;
  }
}

@media screen and (max-width:350px){
  #hero{
    margin-bottom: 330px;
  }
  .hero-content h1{
    font-size: 32px;
  }
  .hero-content-map h1{
    font-size: 32px;
    line-height: 40px;
  }
  #overview h1{
    font-size: 32px; 
  }
  #overview-mobile h1{
    font-size: 32px; 
  }
  .overwiew-wrapper {
    font-size: 11px;
  }
  .about-content h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .about-content p {
    max-width: 280px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media screen and (max-width:310px) {
  .hero-map img {
    width: 230px;
}
}
@media screen and (max-width:290px) {
  #overview-mobile .overwiew-wrapper .col {
    padding: 5px 15px;
  }
  .hero-map img{
    width: 200px;
  }
  .hero-content {
    margin-bottom: 160px;
  }
  .hero-content-map button {
    padding: 4px 18px;
    font-size: 12px;
  }
  #hero{
    margin-bottom: 400px;
  }
}
@media (min-width: 1220px){
  #hero {
    background-position: initial;
    width: 100vw;
  }
  #mobile-apps .card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 60px;
    height: 310px;
  }
  #mobile-apps h1 {
    line-height: 44px;
  }
  #mobile-apps p{
    margin-top: 20px;
    max-width: 285px;
    color: var(--gray-rarely-used);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
  }
  #mobile-apps .card-image .card-phone img {
    margin-top: -170px;
    width: 200px;
  }
}