@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-primary-text-icons: #1E1E1E;
  --gray-primary-bg: #F3F2F2;
  --white-primary-text:#FFFFFF;
  --orange-primary:#EC8C56;
  --blue-primary:#0066FF;
  --orange-bg:#FFF4EE;
  --blue-secondary:#031D44;
  --gray-secondary:#D9D9D9;
  --red-primary-accents:#D12828;
  --gray-rarely-used:#8F8E8E;
}


/* ---- NAVBAR ---- */
nav {
  height: 75px;
  width: 100%;
  top: 0px;
  border-radius: 0px;
  background-color: var(--white-primary-text);
  position: fixed;
  display: flex;
  box-shadow: 0px 1px 20px rgb(0 0 0 / 0.1);
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
nav .nav-child-wrapper {
  display: flex;
  justify-content: end;
}
nav ul {
  display: flex;
  padding: 10px 100px;
  margin-top: revert;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  padding: 10px 20px 24px;
  color: var(--gray-secondary);
  cursor: pointer;
}
nav ul li a.active{
  color: var(--blue-secondary);
  border-bottom: 6px solid var(--blue-primary);
}
nav ul li a:hover{
  color: var(--blue-primary);
}
nav button {
  padding: 10px 27px 16px;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  width: 165px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
}

/* ---- HERO ---- */
#hero {
  display: flex;
  background: url('../images/hero-bg.png');
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: fit-content;
  padding-bottom: 70px;
}
.hero-logo{
  padding: 160px 0 300px;
}
.hero-logo img{
  width: 60%;
}
.hero-content {
  display: grid;
  max-width: 520px;
  padding: 0 51px;
  margin-bottom: 100px;
}
.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--white-primary-text);
}
.hero-content p{
  color: var(--white-primary-text);
  padding: 5px 0 10px;
  font-weight: 400; 
  font-size: 16px;
  line-height: 20px;
}
.hero-content button{
  padding: 10px 27px;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
}
.hero-map img{
  width: 420px;
  border-radius: 14px;
}
.hero-content-map {
  display: grid;
  max-width: 520px;
  padding: 0 51px;
}
.hero-content-map h1{
  padding: 30px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-primary-text-icons);
}
.hero-content-map button{
  padding: 10px 27px;
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
}

/* ---- Overview ----*/
#overview {
  max-width: 625px;
  display: grid;
  margin: auto;
  padding-bottom: 70px;
}
#overview h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray-primary-text-icons);
  padding-bottom: 30px;
}
.overwiew-wrapper{
  border: var(--gray-primary-bg) 3px solid;
  border-radius: 8px;
  padding: 15px 10px;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
}
.overwiew-wrapper .col{
  justify-content: center;
  padding: 0 41px;
}
.overwiew-wrapper .bordered{
  position: relative;
}
.overwiew-wrapper .bordered::after{
  content: '';
  height: 45px;
  width: 3px;
  position: absolute;
  right: 0;
  top: 21px;
  background-color: var(--gray-primary-bg);
}
.overwiew-wrapper span {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

/* ---- ABOUT-HOMEPAGE ----*/
#about-homepage{
  margin: auto;
  border-radius: 40px;
  background-image: url('/src/images/about-bg.png');
  background-color: var(--blue-secondary);
  background-size: 100%;
  max-width: 800px;
  color: var(--white-primary-text);
  padding: 50px 60px;
}
.about-content h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--white-primary-text);
  padding-bottom: 15px;
}
.about-content p{
  max-width: 350px;
  color: var(--gray-rarely-used);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.about-content p span{
  color: var(--white-primary-text);
}
.about-content .profile {
  margin: 0px auto;
  padding: 15px;
  max-width: 290px;
  border-radius: 13px;
  background-color: var(--white-primary-text);
}
.about-content .profile img{
  width: 260px;
}
.about-content .profile .text-card {
  padding-top: 12px;
}
.about-content .profile h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--gray-primary-text-icons);
}
.about-content .profile .text-card span{
  display: block;
  color: var(--gray-rarely-used);
}

/* card */
.container-card{
  margin: 128px;
}

/* --- CARD --- */
#card{
  margin: 128px; 

}

#card .card{
  width: 518px;
  border-radius: 24px;
  padding: 24px;
}

#card .card img{
  /* margin: 24px; */
  border-radius: 24px;
  width: 100%;
  height: 350px;
}

#card h5{
  /* font-size: 16px; */
  font-weight: 700;
}
#card .card-body p{
  font-size: 16px;
  padding-top: 4px;
  font-weight: 400;
  color: var(--gray-secondary);
}

#card .card-body .button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* font-size: large; */
  width: 100%;
  height: 45px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}


/* --- MOBILE-APPS --- */
#mobile-apps{
  background-image: url('../images/online-world.png');
  background-size: cover;
  background-position: center;
  height: 1550px;
  /* width: 100%; */
}

#mobile-apps .card{
  top: 500px;
  background-color: var(--blue-secondary);
  color: var(--white-primary-text);
  background-image: url('../images/image26.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* height: 625px; */
  width: 100%;
  border-radius: 80px;
  padding: 128px 142px;
}

#mobile-apps .card-information{
  display: flex;
}

#mobile-apps .card-body{
  max-width: 759px; 
  float: left;
  /* margin-top: -251px; */
}  

/* #mobile-apps .card-body h1{
  float: left;
} */

#mobile-apps .card-title{
  font-size: 68px;
} 

#mobile-apps p{
  font-size: 24px;
  color: var(--gray-rarely-used);
} 
/* #mobile-apps .card-image img {
  float: right;
  clear: both;
} */

#mobile-apps .card-image .card-phone img{
  margin-top: -500px;
}

#mobile-apps .card-image .card-badge img{
  padding: 0 89px 0 89px;
}

/* --- FOOTER --- */
#footer{
  font-size: 24px;
  padding: 124px;
  /* margin-top: -300px; */
  background-color: var(--blue-secondary);
  /* height: 512px; */
  color: var(--gray-rarely-used);
}

#footer .footer-title, .footer-license, .footer-contact{
  width: 75%;
}

#footer .footer-information .footer-title img{
  width: 10%;
}

#footer .footer-title, .footer-contact{
  margin-right: 50px;
}

#footer h1, .footer-title-img, .footer-title h3{
  padding-bottom: 16px;
} 

#footer .footer-title h1{
  font-size: 88px;
  color: var(--white-primary-text);
} 

#footer .footer-title h3{
  font-size: 24px;
  color: var(--white-primary-text);
} 

#footer .footer-information h4{
  font-size:24px;
  color: var(--white-primary-text);
}

/* --- MAPS --- */
#iframe{
  height: 721px;
  /* background-color: #D12828; */
  background-image: url(/src/images/maps.svg);
  width: 100%;
  /* height: 100%; */
}

#filter{
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 40px 0px 40px 0px;
}

#filter .row .button{
  width: 10%;
  /* margin: auto 12px; */
  border-color: transparent;
  background-color: var(--gray-secondary);
  color: white;
}

#filter .row .dropdown{
  display: flex;
  flex-direction: column;
  width: 45%;
  font-size: 24px;
  font-weight: 400;
}

#filter .row .dropdown button{
  background-color: var(--white-primary-text);
  color: var(--gray-secondary);
  border-color: var(--gray-secondary);
}


/* --- Comment Page --- */

main{
  background-color: var(--gray-primary-bg);
}

#header{
  background-color: var(--blue-secondary);
  background-image: url(/src/images/header-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 450px;
  padding: 0px 243px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#header h1{
  font-weight: 700;
  font-size: 88px;
  color: var(--white-primary-text);
}

#tanggapan-box{
  display: inline-block;
  width: 100%;
  margin-top: 60px;
}

#tanggapan-box form{
  display: inline-block;
  width: 100%;
}

#tanggapan-box .tanggapan-block{
  width: 50%;
  display: flex;
  flex-direction: column;
}

#tanggapan-box #tanggapan-bio{
  float: left;
  padding-right: 16px;
}

#tanggapan-box #tanggapan-field{
  height: 342px;
}

#tanggapan-box #tanggapan-field #input-field{
  height: inherit;
  padding-bottom: 16px;
}

#tanggapan-box #tanggapan-bio #input-field{
  padding-bottom: 16px;
  height: 98px;
  border-radius: 16px;
}

@media only screen and (max-width: 1440px){

  #mobile-apps .card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 90px;
  }

  #footer{
    font-size: 20px;
  }

  #footer .footer-title h3, #footer .footer-information h4{
    font-size: 20px;
  } 
}

@media only screen and (max-width: 1210px){
  #card{
    margin: 10%;
  }

  #card .card{
    width: 100%;
    border-radius: 24px;
    padding: 24px;
  }

  #mobile-apps .card-body{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: none;
    /* margin-top: -251px; */
  }  

  #card .card img{
      border-radius: 24px;
      width: 100%;
      height: 100%;
  }

  #card .card-body .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
  }

  
}

@media only screen and (max-width: 1200px){
  #mobile-apps .card-information{
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
  }

  #mobile-apps .card-image img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: none;
  }

  #footer{
    font-size: 24px;
    /* padding: 50px; */
    margin-top: auto;
    /* height: 512px; */
  }

  #footer .footer-title, .footer-license, .footer-contact{
    width: 70%;
  }
  #footer .footer-title,  .footer-contact{
    margin-right: 50px;
  }

  #footer .footer-title h1{
    font-size: 50px;
  } 

  #footer .footer-title h3{
      font-size: 24px;
  } 

  #footer .footer-information h4{
      font-size: 24px;
  }
}

@media only screen and (max-width:1000px){

  #card .card{
    /* width: 518px; */
    border-radius: 20px;
    /* padding: 24px; */
  }

  #card h5{
    font-size: 16px;
    font-weight: 700;
  }

  #card .card-body p{
    font-size: 14px;
    /* padding-top: 4px; */
    /* font-weight: 400; */
    color: var(--gray-secondary);
}



#card .card-body .button{
  border-radius: 6px;
}



  #mobile-apps .card-body h1{
    font-size: 50px;
  }

  #mobile-apps p{
    font-size: 20px;
    color: var(--gray-secondary);
  } 

  #mobile-apps .card-image .card-phone img{
    margin-top: -90%;
    width: 340px;
  }
  
  #mobile-apps .card-image .card-badge img{
    padding: 0;
    width: 200px;
  }

  #footer{
    font-size: 18px;
    padding: 50px;
    margin-top: 0px;
    /* height: 512px; */
  }

  #footer .footer-title h1{
    font-size: 50px;
  } 

  #footer .footer-title h3{
      font-size: 18px;
  } 

  #footer .footer-information h4{
      font-size: 18px;
  }

  #filter{
    height: auto;
    width: 50%;
    padding: 40px 0px 40px 0px;
  }
  
  #filter .row .dropdown{
    /* display: block; */
    /* flex-direction: row; */
    width: 100%;
    margin-bottom: 20px;
  }

  #filter .row .button{
    width: 100%;
  }
}

@media only screen and (max-width: 770px){
  #card #scroll-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll; 
  }
    #card #horizontal{
    flex: 0 0 auto;
  }

  #mobile-apps .card{
    top: 590px;
    width: 100%;
    border-radius: 20px;
    padding: 24px;
  }

  #mobile-apps .card-body h1{
    font-size: 40px;
  }

  #mobile-apps p{
    font-size: 20px;
    color: var(--gray-secondary);
  } 

  #mobile-apps .card-image .card-phone img{
    margin-top: -70%;
    width: 340px;
  }
  
  #mobile-apps .card-image .card-badge img{
    padding: 0;
    width: 200px;
  }

  #footer{
    font-size: 20px;
    padding: 50px;
    margin-top: 0px;
    /* height: 512px; */
  }

  #footer .footer-information{
    display: flex;
    margin: 0 10%;
    flex-direction: column;
  }

  #footer .footer-title h1{
    font-size: 50px;
  } 

  #footer .footer-title h3{
      font-size: 20px;
  } 

  #footer .footer-information h4{
      font-size: 20px;
  }

}

/* ---RESPONSIVE--- */
@media only screen and (max-width: 400px){
    #card{
      margin: 5%;
      }
    #card #scroll-wrapper{
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll; 
    }
      #card #horizontal{
      flex: 0 0 auto;
    }
    #card .card{
        width: 100%;
        border-radius: 24px;
        padding: 24px;
    }

    #card .card img{
        /* margin: 24px; */
        border-radius: 24px;
        width: 100%;
        height: 100%;
    }

    #card h5{
        font-size: 16px;
        font-weight: 700;
      }

      #card .card-body p{
        font-size: 12px;
        padding-top: 4px;
        font-weight: 400;
        color: var(--gray-secondary);
    }

    #card .card-body .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        width: 100%;
        height: 50px;
        border-radius: 8px;
      }


      /* --- MOBILE-APPS --- */
    #mobile-apps{
        margin-top: -100%;
        background-image: url('../images/online-world.png');
        background-size: 170%;
        background-repeat: no-repeat;
        background-position: center;
        height: 1550px;
        /* width: 100%; */
    }

    #mobile-apps .card{
        top: 590px;
        background-color: var(--blue-secondary);
        color: var(--white-primary-text);
        background-image: url('../images/image26.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        /* height: 625px; */
        width: 100%;
        border-radius: 30px;
        padding: 24px;
      }

      #mobile-apps .card-body{
        text-align: center;
        margin-top: auto;
      }  

      #mobile-apps .card-body h1{
        font-size: 30px;
      }

      #mobile-apps p{
        font-size: 16px;
        color: var(--gray-secondary);
      } 

      #mobile-apps .card-information{
        display: flex;
        flex-direction: column-reverse;
      }

      #mobile-apps .card-image img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        clear: none;
      }

      #mobile-apps .card-image .card-phone img{
        margin-top: -70%;
        width: 80%;
      }
      
      #mobile-apps .card-image .card-badge img{
        padding: 0;
        width: 50%;
      }
      
      /* --- FOOTER --- */
    #footer{
        font-size: 12px;
        padding: 50px;
        margin-top: auto;
        /* height: 512px; */
    }
    #footer .footer-information{
        display: flex;
        flex-direction: column;
    }

    #footer .footer-contact, .footer-license, .footer-contact{
        width: 75%;
    }

    #footer .footer-information .footer-title img{
        width: 15%;
        margin-right: 20px;
      }
    
    #footer h1, .footer-title-img, .footer-title h3{
        padding-bottom: 16px;
    } 
    
    #footer .footer-title h1{
        font-size: 30px;
    } 

    #footer .footer-title h3{
        font-size: 12px;
    } 

    #footer .footer-information h4{
        font-size: 12px;
    }
}