@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --gray-primary-text-icons: #1E1E1E;
  --gray-primary-bg: #F3F2F2;
  --white-primary-text:#FFFFFF;
  --orange-primary:#EC8C56;
  --blue-primary:#0066FF;
  --orange-bg:#FFF4EE;
  --blue-secondary:#031D44;
  --gray-secondary:#D9D9D9;
  --red-primary-accents:#D12828;
  --gray-rarely-used:#8F8E8E;
}
/* ---- NAVBAR ---- */  
nav {
  height: 70px;
  width: 100%;
  top: 0px;
  border-radius: 0px;
  background-color: var(--white-primary-text);
  position: fixed;
  display: flex;
  box-shadow: 0px 1px 20px rgb(0 0 0 / 0.1);
  justify-content: space-around;
  align-items: center;
  z-index: 4;
}
nav .nav-wrapper {
  display: flex;
  justify-content: end;
}
nav .menu-sidebar{
  left: 0;
  position: absolute;
}
nav .active-page {
  display: none;
}
nav ul {
  display: flex;
  padding: 10px 130px;
  margin-top: revert;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  padding: 10px 20px 18px;
  color: var(--gray-secondary);
  cursor: pointer;
}
nav ul li a.button {
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  padding: 11px 30px;
  font-weight: 700;
  font-size: 16px;
  margin-left: 25px;
  
}
nav ul li a.active{
  color: var(--blue-primary);
  border-bottom: 6px solid var(--blue-primary);
}
nav ul li a:hover{
  color: var(--blue-primary);
}
nav .menu-toggle{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
nav .menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
nav .menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 8px;
  background-color: var(--blue-primary);
  transition: all 0.5s;
}
nav .menu-toggle span:nth-child(2){
  transform-origin: 0 0 ;
}
nav .menu-toggle span:last-child{
  transform-origin: 0 0 ;
}
nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px, -1px);
}
nav .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
nav .menu-toggle input:checked ~ span:last-child {
  transform: rotate(-45deg) translate(-3px, 0px);
}
/* --- FOOTER --- */
#footer{
  font-size: 20px;
  background-color: var(--blue-secondary);
  color: var(--gray-rarely-used);
}
#footer .footer-container {
  padding: 60px 100px;
}
#footer .footer-title img{
  width: 40px;
}
#footer .footer-title h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  color: var(--white-primary-text);
} 
#footer.intro-web{
  margin-top: -10px;
} 
#footer p{
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-rarely-used);
  padding-right: 116px;
} 
#footer .title{
  font-size:16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white-primary-text);
}
#footer .copyright{
  font-size:16px;
  padding-right: 140px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white-primary-text);
}

#iframe{
  height: 100vh;
  /* background-color: #D12828; */
  background-image: url(/src/images/maps.svg);
  width: 100%;
  /* height: 100%; */
}
.menu-sidebar {
  top: 23px;
  /* left: 20px; */
  /* align-items: center; */
  margin-left: 40px;
  position: relative;
  display: flex;
  /* justify-content: center; */
}
.menu-sidebar input{
  position: absolute;
  width: 31px;
  height: 31px;
  opacity: 0;
  cursor: pointer;
  z-index: 6;
}
/* .menu-sidebar input:checked ~ .icon{
  color: #56eca3;
} */
.menu-sidebar .icon i{
  /* display: block; */
  font-size: 30px;
  background-color: #D12828;
}
.nav-maps {
  padding-top: 30px;
  background-color: var(--white-primary-text);
  width: 300px;
  height: 100vh;
  padding: 20px;
  position: absolute;
  left: 0;
  /* transform: translateX(100%); */
  transition: all 1s;
}
.nav-maps ul .slide-map{
  transform: translateX(0);
}
#filter ul li .logo {
  display: flex;
}
#filter ul li .logo img {
  width: 70px;
}
#filter ul li .logo h1 {
  margin: auto;
  font-size: 25px;
  color: var(--white-primary-text);
}
#filter ul li .logo h1 span {
  display: block;
  font-size: 20px;
}
#filter ul li {
  list-style: none;
  margin: 0 15px;
}
#filter .button-send button {
  background-color: var(--blue-primary);
  color: var(--white-primary-text);
  border: none;
  border-radius: 8px;
  width: 165px;
  height: 42px;
  font-weight: 700;
  font-size: 16px;
}
#filter{
  margin-top: 40px;
  height: 120px;
  width: 100%;
}

#filter ul li button{
  margin-bottom: 15px;
}

@media (max-width:1000px) {
  nav {
    justify-content: space-between;
    padding: 0 100px;
  }
  nav .active-page {
    display: flex;
    margin: auto;
  }
  nav .active-page a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: var(--blue-primary);
    cursor: pointer;
  }
  nav .active-page a.active{
    padding: 17px;
    border-bottom: 6px solid var(--blue-primary);
  }
  nav ul{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40%;
    flex-direction: column;
    background-color: var(--white-primary-text);
    justify-content: space-evenly;
    align-items: center;
    z-index: -100;
    transform: translateX(100%);
    transition: all 0.8s;
    opacity: 0;
  }
  nav ul li a{
    /* padding: 10px 0 18px; */
    margin: auto;
    display: flex;
    width: 150px;
  }
  nav ul li a.buton {
    margin-left: 0;
  }
  nav .menu-toggle {
    display: flex;
  }
  nav ul.slide{
    opacity: 1;
    transform: translateX(0);
  }
}