<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- BOOTSRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../style/regulasi.css">

    <title>SIMTARU</title>

    <!-- Favicons -->
    <link href="../images/logo-40px.png" rel="icon" />
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/unicons.css"> -->
  </head>
  <body>
    <!-- <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div> -->

    <div class="wrapper-regulasi">
      <nav>
        <div class="active-page">
          <a class="active" href="#hero">Regulasi</a>
        </div>

        <div class="nav-wrapper">
          <ul class="nav-menu ">
            <li class="links"><a href="../../index.html">Home</a></li>
            <li class="links"><a  href="./../../maps.html">Tata Ruang</a></li>
            <li class="links"><a class="active" href="./regulasi.html">Regulasi</a></li>
            <li class="links"><a href="./publikasi.html">Publikasi</a></li>
            <li class="links"><a href="#">Tanggapan</a></li>
            <li class="links"><a href="./berita.html">Berita</a></li>
            <!-- <li class="button-pendaftaran"><a class="button" href="">Pendaftaran</a></li> -->
            <li class="button-pendaftaran">
              <form action="/pendaftaran" method="GET">
                <!-- @csrf -->
                <button class="button">Pendaftaran</button>
              </form>
            </li>
          </ul>
       </div>
        <div class="menu-toggle">
          <input type="checkbox">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
  
  
      <section id="hero">
        <div class="text-center hero-content">
          <h1>REGULASI</h1>
        </div>
      </section>
      
      <div id="collapse-parent">
        <!-- <section id="pagination">
          <div class=" row wrapper-pagination">
            <p>
              <div class="col">
                <a data-bs-toggle="collapse" href="#uu-collapse" role="button" aria-expanded="true" aria-controls="uu-collapse" >UU</a></li>
              </div>
              <div class="col">
                <a data-bs-toggle="collapse" href="#perpres-collapse" role="button" aria-expanded="false" aria-controls="perpres-collapse">PERPRES</a>
              </div>
              <div class="col">
                <a data-bs-toggle="collapse" href="#kepres-collapse" role="button" aria-expanded="true" aria-controls="kepres-collapse" >KEPRES</a>
  
              </div>
              <div class="col">
  
                <a data-bs-toggle="collapse" href="#pp-collapse" role="button" aria-expanded="true" aria-controls="pp-collapse" >PP</a>
              </div>
              <div class="col">
  
                <a data-bs-toggle="collapse" href="#permen-collapse" role="button" aria-expanded="true" aria-controls="permen-collapse">PERMEN</a>
              </div>
              <div class="col">
                <a data-bs-toggle="collapse" href="#perda-collapse" role="button" aria-expanded="true" aria-controls="perda-collapse">PERDA</a>
  
              </div>
              <div class="col">
  
                <a data-bs-toggle="collapse" href="#pergub-collapse" role="button" aria-expanded="true" aria-controls="pergub-collapse">PERGUB</a>
              </div>
            </p>
          </div>
        </section> -->

        <section id="pagination">
          <div class="wrapper-pagination">
            <ul>
              <p>
                <li>
                  <a  data-bs-toggle="collapse" href="#uu-collapse" role="button" aria-expanded="true" aria-controls="uu-collapse" >UU</a></li>
                <li>
                  <a data-bs-toggle="collapse" href="#perpres-collapse" role="button" aria-expanded="false" aria-controls="perpres-collapse">PERPRES</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#kepres-collapse" role="button" aria-expanded="true" aria-controls="kepres-collapse" >KEPRES</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#pp-collapse" role="button" aria-expanded="true" aria-controls="pp-collapse" >PP</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#permen-collapse" role="button" aria-expanded="true" aria-controls="permen-collapse">PERMEN</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#perda-collapse" role="button" aria-expanded="true" aria-controls="perda-collapse">PERDA</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#pergub-collapse" role="button" aria-expanded="true" aria-controls="pergub-collapse">PERGUB</a>
                </li>
              </p>
            </ul>
          </div>

          <div class="wrapper-pagination-mobile">
            <ul>
              <p>
                <li>
                  <a  data-bs-toggle="collapse" href="#uu-collapse" role="button" aria-expanded="true" aria-controls="uu-collapse" >UU</a></li>
                <li>
                  <a data-bs-toggle="collapse" href="#perpres-collapse" role="button" aria-expanded="false" aria-controls="perpres-collapse">PERPRES</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#kepres-collapse" role="button" aria-expanded="true" aria-controls="kepres-collapse" >KEPRES</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#pp-collapse" role="button" aria-expanded="true" aria-controls="pp-collapse" >PP</a>
                </li>
              </p>
            </ul>
            <ul>
              <p>
                <li>
                  <a data-bs-toggle="collapse" href="#permen-collapse" role="button" aria-expanded="true" aria-controls="permen-collapse">PERMEN</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#perda-collapse" role="button" aria-expanded="true" aria-controls="perda-collapse">PERDA</a>
                </li>
                <li>
                  <a data-bs-toggle="collapse" href="#pergub-collapse" role="button" aria-expanded="true" aria-controls="pergub-collapse">PERGUB</a>
                </li>
              </p>
            </ul>
          </div>
        </section>
   
        <section id="content">
          <div id="uu-collapse" class="collapse show" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards">
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANGKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>
  
          <!-- PERPRES -->
          <div id="perpres-collapse" class="collapse" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards"> 
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>

          <!-- KEPRES -->
          <div id="kepres-collapse" class="collapse" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards"> 
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>

          <!-- PP -->
          <div id="pp-collapse" class="collapse" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards"> 
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>

          <!-- PERMEN -->
          <div id="permen-collapse" class="collapse" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards"> 
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>

          <!-- PERDA -->
          <div id="perda-collapse" class="collapse" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards"> 
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>

          <!-- PERGUB -->
          <div id="pergub-collapse" class="collapse" data-bs-parent="#collapse-parent">
            <div class="wrapper-content">
              <div class="cards"> 
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                <!-- divider between two cards-->
                <br>
                <div class="wrapper-undang2 row">
                  <div class="col-lg-2 col-md-2 file-logo">
                    <img src="../images/pdf.png" alt="">
                    
                  </div>
                  <div class="col-lg-10 col-md-10 file-element">
                    <h5>UU Nomor 45 Tahun 2009</h5>
                    <p>TENTANG PERUBAHAN ATAS UNDANG-UNDANG NOMOR 31 TAHUN 2004 TENTANG PERIKANAN</p>
                    <div class="button">
                      <button type="button">Download</button>
                    </div>
                  </div>
                </div>
                        
              </div>
            </div>
          </div>

        </section>

      </div>
  
  
    <!-- footer -->
    <div id="footer">
      <div class="footer-container">
        <div class="row">
          
          <div class="col-lg-4">
            <div class="footer-title">
              <div class="footer-title-img">
                <img src="/src/images/Logo-Sulsel.png" alt="">
                <img src="/src/images/Logo-PLN.png" alt="">
              </div>
              <h1>SIMTARU</h1>
              <p class="intro-web">Website Resmi Bidang Tata Ruang Dinas Pekerjaan Umum dan Tata Ruang Provinsi Sulawesi Selatan</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="footer-contact">
              <div class="alamat">
                <i class="uil uil-comments"></i>
                <h4 class="title">Alamat</h4>
                <p>Jalan A. Pangerang Pettarani <span>No. 88-90 Makassar</span></p>
              </div>
              <div class="kontak">
                <i class="uil uil-comments"></i>
                <h4 class="title">Hubungi Kami</h4>
                <p>Jalan A. Pangerang Pettarani <span>No. 88-90 Makassar</span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="footer-license">
              <h4 class="title">Made Possible by</h4>
              <p>ABRIADYR 2022</p>
              <h4 class="copyright" >Hak Cipta 2022 @ Bidang Tata Ruang Dinas Pekerjaan Umum Dan Tata Ruang Provinsi Sulawesi Selatan </h4>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- built files will be auto injected -->



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  
    <script src="../../nav.js"></script>
  </body>
</html>